/* base.css */

html, body {
    height: 100%;
    margin: 0;
}


.sidebar {
    width: 250px;
    height: 100vh;
    transition: width 0.3s;
    overflow-y: hidden; /* Prevent sidebar scrolling */
    position: fixed; /* Keep sidebar fixed */
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.content {
    flex-grow: 1;
    transition: margin-left 0.3s;
    overflow-y: auto; /* Ensure content scrolls if too long */
}

.content.expanded {
    margin-left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .sidebar.collapsed {
        width: 0;
        overflow: hidden;
    }

    .content {
        margin-left: 0;
    }
}
